#login a {
    text-decoration: none;
    color: #000;
}

#head {
    height: 100px;
    background: #d9d9d9;
    margin-bottom: 65px;
}

#box {
    width: 80%;
    min-height: 604px;
    margin: 0 auto;
    border: 1px solid #000;
    display: flex;
    margin-bottom: 65px;
}

#box img {
    width: 50%;
    height: 100%;
}

#box table {
    width: 100%;
    background: #d9d9d9;
    border-collapse: collapse;
    text-align: center;
}

#box table input[type="text"],
#box table input[type="password"] {
    font-style: italic;
    font-weight: 900;
    word-wrap: break-word;
    border: 0px solid #d9d9d9;
    width: 80%;
    height: 50px;
    background: #d9d9d9;
    color: black;
    font-size: 2rem;
    border-bottom: 3px solid #000;

}

#link1 {
    display: flex;
    justify-content: left;
    margin-left: 4rem;
}

#box table button {
    height: 100px;
}

#box table .text {
    color: black;
    font-size: 64px;
    font-style: italic;
    font-weight: 900;
    word-wrap: break-word
}

#link1 p,
#link2 p {
    color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    word-wrap: break-word;
}

#link1 ul {
    list-style: none;
    display: flex;
    color: black;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 200;
    word-wrap: break-word
}

#link1 ul li {
    margin-left: 26px;
}

#link2 {
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

#link2 a {
    color: #fff;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    word-wrap: break-word;
    text-decoration: none;
    margin: 0 10px;
}

#submit {
    width: 80%;
    height: 60px;
    border: 0px solid #fff;
    border-radius: 10px;
    color: black;
    font-size: 2rem;
    font-style: italic;
    font-weight: 900;
    word-wrap: break-word
}

#remember {
    display: flex;
    justify-content: left;
    margin-left: 4rem;
}

#remember input[type="checkbox"] {
    min-width: 40px;
    min-height: 40px;
}

#remember label {
    line-height: 50px;
    color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    word-wrap: break-word;
    margin-left: 10px;
}

#forgot-password {
    color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    word-wrap: break-word;
    margin-right: 2rem;
}
